@import '../../index.scss';

.project-tag {
  border-width: 2px;
  border-style: solid;
  font-weight: 500; 
  display: inline-block;
  margin: 5px; 
  border-radius: 5px;
  padding: 5px;
  background: $white;
  cursor: pointer;
  @include shadow;
}

.tag-yellow {
  color: $yellow!important;
  border-color: $yellow!important;
}

.tag-orange {
  color: $primary-orange!important;
  border-color: $primary-orange!important;
}

.tag-purple {
  color: $purple!important;
  border-color: $purple!important;
}

.tag-grey {
  color: $dark-grey!important;
  border-color: $dark-grey!important;
}

.tag-red {
  color: $red!important;
  border-color: $red!important;
}