@import "../../index.scss";
h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

#project-container {
  padding: 15px 30px;

  #top-links-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #delete-link {
    @include h4;
    display: block;
    margin-bottom: 15px;
    background: lighten($red, 60);
    color:$red;
    margin-left: auto;
    order: 2;
  }

  .back-link {
    @include h4;
    display: block;
    margin-bottom: 15px;
    color: $primary-orange!important;
    cursor: pointer;

    &:hover {
      text-decoration: underline!important;
    }
  }

  .project-info {
    background: $white;
    border: 1px solid $border;
    padding: 0;
    @include shadow;

    h2 {
      padding: 20px;
      border-bottom: 1px solid $border;
    }

    .cancel-button {
      @include button;
      color: $red;
      @include transition;
      background-color: lighten($red, 60);
      &:hover {
        background-color: lighten($red, 50);
      }
    }

    .project-details {
      padding: 20px;
    }
  }

  #tags-container {
    padding-left: 25px;
  }
}

#edit-link {
  font-size: $body-size;
  margin-left: 10px;
}

.category-header {
  padding-top: 20px;
}

#position-header {
  margin-top: 15px;
}

.position-section {
  margin-bottom: 15px;
}

@media screen and (max-width: $breakpoint-default) {
  #tags-container {
    padding-left: 0px !important;
  }
}
