@import "../../index.scss";
h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

#project-container {
  padding: 15px 30px;

  .back-link {
    @include h4;
    display: block;
    margin-bottom: 15px;
    color: $primary-orange;
  }

  .project-info {
    background: $white;
    border: 1px solid $border;
    padding: 0;
    @include shadow;

    h2 {
      padding: 20px;
      border-bottom: 1px solid $border;
    }

    

    .project-details {
      padding: 20px;
    }

  }

  #tags-container {
    padding-left: 25px;
  }

}

.category-header {
  padding-top: 20px;
}

#position-header {
  margin-top: 15px;
}

.position-section {
  margin-bottom: 15px;
}

@media screen and (max-width: $breakpoint-default) {
  #tags-container {
    padding-left: 0px!important;
  }
}