@import '../../index.scss';


.back-link {
  @include h4;
  display: block;
  margin-bottom: 15px;
  color: $primary-orange!important;
  cursor: pointer;

  &:hover {
    text-decoration: underline!important;
  }
}
