@import "../../index.scss";

.navbar {
  background: $white;
  color: $primary-teal;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  .nav-brand {
    .nav-logo-link {
      @include h2;
      font-weight: 500;
      color: $primary-teal;
    }
  }

  .navbar-toggler {
    color: $primary-orange;
  }

  .navbar-nav {
    .nav-link {
      color: $primary-teal;
      &.active {
        color: $primary-orange;
      }
    }
  }
}