@import "../../index.scss";

.navbar {
  background: $white;
  color: $primary-teal;
  @include shadow;
  border-bottom: 1px solid $border;

  .navbar-brand {
    @include h2;
    font-weight: 500;
    color: $primary-teal;
  }

  .navbar-toggler {
    color: $primary-orange;
  }

  .navbar-nav {
    .nav-link {
      color: $primary-teal;
      &.active, &:hover {
        color: $primary-orange;
      }
    }
  }
}

@media only screen and (min-width : 992px){
  .navbar {
    max-height: $navbar-height;
  }
}