@import "../../index.scss";

.project-item-container {
  height: 140px;
  text-decoration: none;
  min-width: 200px;
  @include shadow;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  margin-right: 20px;
  border: 1px solid $border;

  &:hover {
    text-decoration: none;

    &.time-created {
      text-decoration: none;
      color: $dark-grey;
    }
  }

  p {
    margin-bottom: 10px;
  }

  .time-created {
    font-style: italic;
  }
}
