@import '../../index.scss';

#profile-page {
  display: flex;
  flex-direction: column;
  padding: 25px;

  .user-info { 
    background: $white;
    border: 1px solid $border;
    @include shadow;
    max-width: 800px;

    i {
      color: $dark-grey;
    }

    h2 {
      color: $primary-teal;
      border-bottom: 1px solid $border;
      padding: 20px;
      i {
        width: 40px;
        border-radius: 50%;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $dark-grey;
        color: $white;
      }
    }
    .user-details {
      padding: 0px 20px 20px 20px;
    }

  }

  #profile-description-textarea {
    max-width: 300px;
    min-height: 100px;
    margin-bottom: 15px;
    display: block;
  }

  #profile-description-p {
    width: 50%;
    margin-bottom: 5px;
  }

  #links-textarea {
    max-width: 300px;
    display: block;
    margin-bottom: 15px;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }


  h4 {
    padding-top: 10px;
    @include h4;
  }

  h3 {
    @include h3;
    padding-top: 20px;
  }

  .go-button {
    i {
      color: $white;
    }
  }

  .profile-link {
    display: block;
  }

  .project-preview-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
  }

}


@media (max-width: $breakpoint-default) {
  #profile-page {
    #profile-description-textarea {
      width: 100%;
    }

    #profile-description-p {
      width: 100%;
    }
  }

}
