@import '../../index.scss';

.all-projects {
  display: flex;
  flex-direction: row;


  .sidebar {
    width: 33.33%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;

    .sidebar-box {
      height: auto;
      width: 100%;
      background: $white;
      padding: 15px;
      border: 1px solid $border;
      @include shadow;

      .search {
        position: relative;
        
        .search-icon {
          display: inline-block;
          position: absolute;
          right: 12px;
          top: 12px;
          color: $dark-grey;
        }
        .form-control {
          @include body-text;
        }
        .form-control::placeholder {
          @include body-text;
          color: rgb(170, 170, 170);
        }
      }

      h1 {
        @include h3;
        color: $primary-orange;
      }
      h2 {
        @include h4;
        i {
          color: $dark-grey;
        }
      }
      .filter {
        padding: 10px 0px;

        .multi-select {
          margin-top: 5px;
        }
        .dropdown-heading {
          border-width: 2px!important;
          font-weight: 500;
        }

        &.positions {
          .dropdown-heading {
            &-value {
              color: $yellow!important;
            }
            border-color: $yellow!important;
          }          
        }

        &.languages {
          .dropdown-heading {
            &-value {
              color: $primary-orange!important;
            }
            border-color: $primary-orange!important;
          }          
        }

        &.technologies {
          .dropdown-heading {
            &-value {
              color: $purple!important;
            }
            border-color: $purple!important;
          }          
        }

        &.topics {
          .dropdown-heading {
            &-value {
              color: $red!important;
            }
            border-color: $red!important;
          }          
        }

        &.difficulty {
          .dropdown-heading {
            &-value {
              color: $dark-grey!important;
            }
            border-color: $dark-grey!important;
          }          
        }
        
      }
    }
  }

  .projects-container {
    width: 66.33%;
    padding: 25px;
    max-height: calc(100vh - #{$navbar-height});
    overflow-y: auto;
  }
}

@media screen and (max-width: $breakpoint-default) {
  .all-projects {
    flex-direction: column;
    
    .sidebar {
      width: 100%;
      padding: 15px;
      padding-top: 25px;
      .sidebar-box {
        height: auto;
        width: 100%;
        background: $white;
        padding: 15px;
      }
    }
   
    .projects-container {
      width: 100%;
      padding: 15px;
      max-height: none;
      overflow: auto;
    }
  }
}